*{
    font-family: 'Poppins' , sans-serif;
}
/* root(*) or universal selector font is poppins */
.class1{
    /* we can style classes by dotted notation */
    background-color: yellow;
    width: 100%;
    /* this is class selector */
}
h2{
    color: white;
    text-align: center;
    font-size: 50pt;
    font-weight: bold;
}
.class2{
    background-color: white;
    width: 100%;
}
p{
    color: yellow;
    text-align: center;
    font-size: 30pt;
    font-weight: bold;
}
#tagline{
    /* we can style id by # notation */
    background-color: yellow;
    color: white;
    font-weight: bold;
    font-size: 20pt;
    /* this is id selector */
}
