*{
    background-color: #212121;
    justify-content: center;
}
div{
    margin: 20px 20px 20px 45%;
    padding: 20px;
    width: 100px;
    height: 100px;
}
p{
    color: white;
    text-align: center;
    margin: 20px;
    font-weight: bold;
    font-size: 50px;
}
.one{
    background-color: red;
    box-shadow: 100px white;
}
.two{
    background-color: yellow;
}
.three{
    background-color: blue;
}
.one:hover{
    transform: rotate(45deg);
}
.two:hover{
    transform: rotate(45deg);
}
.three:hover{
    transform: rotate(45deg);
}